[submodule "1 курс/2сем/практика/project/Shhmoney"]
	path = 1 курс/2сем/практика/project/Shhmoney
	url = https://github.com/likkk5/Shhmoney.git
[submodule "2 курс/4сем/OOP/yoko"]
	path = 2 курс/4сем/OOP/yoko
	url = https://github.com/likkk5/yoko.git
